<%- include('partials/header.ejs') %>
<%- include('partials/navigation.ejs') %>

<main>
    <section class="links-container">
        <h1>Useful Links for Dungeons & Dragons Enthusiasts</h1>
        <p>Here you can find a collection of resources that will enhance your D&D experience.</p>
        <ul class="links-list">
            <li><a href="https://www.dndbeyond.com/" target="_blank">D&D Beyond</a> - Official digital toolset and game companion for Dungeons & Dragons.</li>
            <li><a href="https://roll20.net/" target="_blank">Roll20</a> - Virtual tabletop for playing Dungeons & Dragons online.</li>
            <li><a href="https://www.dmsguild.com/" target="_blank">DMs Guild</a> - Marketplace for D&D fan-created content.</li>
            <li><a href="https://forgottenrealms.fandom.com/wiki/Main_Page" target="_blank">Forgotten Realms Wiki</a> - A comprehensive guide to the Forgotten Realms, a popular D&D campaign setting.</li>
            <li><a href="https://www.reddit.com/r/DnD/" target="_blank">Reddit DnD Community</a> - Join the discussion with fellow D&D enthusiasts on Reddit.</li>
            <li><a href="https://www.wizards.com/dnd/" target="_blank">Wizards of the Coast</a> - The official website for D&D's publisher, with news and updates.</li>
        </ul>
    </section>
</main>

<%- include('partials/footer.ejs') %>