<%- include('partials/header.ejs') %>
<%- include('partials/navigation.ejs') %>

<main>
    <section class="privacy-policy">
        <h1>Privacy Policy</h1>
        <p>Last updated: April 28, 2024</p>
        <p>Welcome to DnDDiceOnline.com. We understand that privacy online is important to users of our Site, especially when conducting business. This statement governs our privacy policies with respect to those users of the Site ("Visitors") who visit without transacting business and Visitors who register to transact business on the Site and make use of the various services offered by DnDDiceOnline.com.</p>
        
        <h2>Information We Collect</h2>
        <p>We collect personally identifiable information for the sole purpose of registering a user for our web service. We do not collect any information about how our Visitors use our services.</p>
        
        <h2>How We Use Your Information</h2>
        <p>The information collected is used to customize the content and/or layout of our page for each individual visitor and to notify consumers about updates to our Web site. It is not shared with other organizations for commercial purposes.</p>
        
        <h2>Cookies</h2>
        <p>A cookie is a string of information that a website stores on a visitor's computer, and that the visitor's browser provides to the website each time the visitor returns. DnDDiceOnline.com uses cookies to help identify and track visitors, their usage of the website, and their website access preferences.</p>
        
        <h2>Disclosure of Information</h2>
        <p>We may disclose information when legally compelled to do so, in other words, when we, in good faith, believe that the law requires it or for the protection of our legal rights.</p>
        
        <h2>Privacy Policy Changes</h2>
        <p>Although most changes are likely to be minor, DnDDiceOnline.com may change its Privacy Policy from time to time, and in DnDDiceOnline.com's sole discretion. We encourage Visitors to frequently check this page for any changes to its Privacy Policy.</p>
        
        <h2>Contact</h2>
        <p>If you have any questions about this Privacy Policy, please contact us via <a href="/contact">email</a> or phone.</p>
    </section>
</main>

<%- include('partials/footer.ejs') %>